body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  background-color: #111827;

  background-image: url("/background.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
